<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Content page</title>
</head>
<body>
<section layout:fragment="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Create new tags</h3>
        </div>
        <div class="panel-body">
            <form method="post" action="/elastic">
                <div class="form-group">
                    <label for="tags">New tags:</label>
                    <textarea class="form-control" id="tags" name="tags"
                              placeholder="Add comma or newline separated tags..."></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Append to index</button>
                    <button type="submit" class="btn btn-danger" name="drop-create" value="true">Replace current index</button>
                    <button type="submit" class="btn btn-warning" formaction="/tags/predefined" value="true">Use predefined topics</button>
                </div>
            </form>
            <ul>
                <li>There is always the <strong><a href="https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-lang-analyzer.html#english-analyzer">english</a></strong> analyzer used.</li>
                <li>Predefined topics like 'Architecture' or 'Food' are obtained from <a href="https://www.ted.com/topics">ted.com/topics</a>.</li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">All known tags</h3>
        </div>
        <div class="panel-body">
            <div class="tags">
                <span th:each="tag : ${tags}" th:text="${tag}" class="label label-default"></span>
            </div>
        </div>
    </div>
</section>
</body>
</html>


