<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Usage</title>
</head>
<body>
<section layout:fragment="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Usage</h3>
        </div>
        <div class="panel-body">
            <h1>Create tags index</h1>
            <p>On page <a href="/elastic">Topics</a> enter your own collection of tags or use predefined once.</p>
            <h1>Tester</h1>
            <p>You can test tags recognition on <a href="/tester">Tester</a> page. Enter any text and see what can
            elastic discover in the text. Or you can let the app download <a href="/tester-random">random Wikipedia article</a> and run recognition
            on the text of article.</p>
        </div>
    </div>
</section>
</body>
</html>


